<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153226008-3"></script>
			<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());
			gtag('config', 'UA-153226008-3');
			</script>
		</head>
		<body>
			<nav>
	    		<ul>
	        	<li><a href="/">Home</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/pubs">Publications</a></li>
			<li><a href="/software">Software</a></li>
			<li><a href="/oerlinks">OER Links</a></li>
			</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:rohan.mehta@elmhurst.edu">Email</a></li>
	        		<li><a href="https://github.com/rohansmehta">Github</a></li>
				<li><a href="https://scholar.google.com/citations?user=xYbHaRoAAAAJ&hl=en">Google Scholar</a></li>
				</ul>
			</footer>
		</body>
	</html>
